/* Importing the font.*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* The hex value of the main color is: #0fc9a8 */

/* Entire Html */

*{
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Scroll Bar*/

/* width */
::-webkit-scrollbar {
    width: 0.9vh;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0fc9a8;
    background: linear-gradient(180deg, rgba(15,201,168,1) 34%, rgba(10,130,121,1) 74%);
    width: 1.1vh;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0fc9a8; 
}

/* Start-up Animation */

.heytype {
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 6vh;
    transform: translateY(-50%);
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1vh solid;
    padding-right: 5px;
    letter-spacing: 0em;
    animation: typing 3s steps(40, end),
    cursor 0.65s infinite;
    user-select: none;
}

/* Navigation Bar*/

.navigation-bar {
    z-index: 1;
    position: fixed;
    top: 5%;
    right: 0%;
    width: 20%;
    font-size: 2.25vh;
    white-space: nowrap;
}

ul li {
    opacity: 0;
    display: inline-block;
    margin-left: 5%;
    padding-left: 10%;
    animation: come 1s 3s forwards;
    background: transparent;
    border-radius: 3vh;
    backdrop-filter: blur(0.2rem);
}

a {
    color: white;
    text-decoration: none;
}

/* Body */

body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(15, 15, 15);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.defcolor {
    color: #0fc9a8;
}

.home-container, .work-with-me {
    scroll-snap-align: top;
}

.logo {
    z-index: 1;
    position: fixed;
    margin: 2%;
    width: 6vh;
    height: 6vh;
    opacity: 0;
    animation: come 1s 3s forwards;
    background: transparent;
    border-radius: 3vh;
    backdrop-filter: blur(0.2rem);
}

.start-div {
    position: absolute;
    top: 40%;
    left: 30%;
    line-height: 4vh;
    font-size: 2.25vh;
    opacity: 0;
    animation: come 1.5s 3s forwards;
    cursor: text;
}

.scroll {
    color: #0fc9a8;
    position: absolute;
    font-size: 3vh;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: come 1s 3s forwards;
}

.arrow {
    position: absolute;
    font-size: 3vh;
    top: 89%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    animation: come 1s 3s forwards, arrow-down 2s infinite;
}

.work-with-me {
    opacity: 0;
    position: absolute;
    scroll-snap-align: top;
    width: 100%;
    height: 100%;
    top: 100%;
    animation: come 1s 3s forwards;
}

.work {
    position: absolute;
    top: 20%;
    left: 30%;    
    line-height: 200px; 
    font-size: 6vh;
}

.design-text {
    color: #0fc9a8;
}

.lets-work {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 2.25vh;
    line-height: 4vh;
}

.contact-intext {
    color: #0fc9a8;
}


/* Line Animation */

.line-div1 {
    position: absolute;
    top: 60%;
    left:50%;
    transform: translatex(-50%);
    border-top: 0.1vh solid #0fc9a8;
    width: 0vh;
    animation: width-draw 2s 4s forwards, line-breathe 3s 6s infinite;
}

/* Animations */

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
}

@keyframes cursor {
    from, to{
        border-color: transparent;
    }
    50% {
        border-color: #0fc9a8;
    }
}

@keyframes come {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes carmove {
    from {
        top: 60%;
        left: 10%;
    }
    to {
        top: 60%;
        left: 90%;
    }
}

@keyframes go {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}

@keyframes designtxt {
    0% {
        background-color: transparent;
        letter-spacing: 0vh;
    }
    100% {
        background-color: white;
        color: #0fc9a8;
        letter-spacing: 0.3vh;
        font-weight: bold;
        padding-left: 0.4vh;
        padding-right: 0.4vh;
    }
}

@keyframes undesigntxt {
    0% {
        background-color: white;
        color: #0fc9a8;
        letter-spacing: 0.3vh;
        font-weight: bold;
        padding-left: 0.4vh;
        padding-right: 0.4vh;
    }
    100% {
        background-color: transparent;
        letter-spacing: 0vh;
    }
}


@keyframes arrow-down {
    0%, 100% {
        top: 89%;
    }
    50% {
        top: 93%;
    }
}

@keyframes width-draw {
    from {
        width: 0vh;
    }
    to {
        width: 40vh;
    }
}

@keyframes line-breathe {
    from, to {
        width: 40vh;
    }
    50% {
        width: 36vh;
    }
}

/* Media queries*/

@media only screen and (max-width: 1600px) {

    /* Headings */ 
    .heytype {
        left: 15%;
    }

    .work {
        left: 15%;
    }

    /* Navigation Bar*/
    ul li {
        padding-left: 1%;
    }
    
    /* Body */
    .start-div {
        left: 15%;
    }

    .lets-work {
        left: 15%;
    }

    /* Navigation Bar */
    .navigation-bar {
        width: 300px;
    }

}

@media only screen and (max-width: 1080px) {

    /* Headings */
    .heytype {
        left: 5%;
    }

    .work {
        left: 5%;
    }

    /* Navigation Bar*/
    .navigation-bar {
        top: 2%;
        left: 50%;
        width: 350px;
        margin-right: 3%;
    }

    /* Body */
    .start-div {
        left: 5%;
    }

    .lets-work {
        left: 5%;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 755px;
        }
    }

}

@media only screen and (max-width: 600px) {

    /* Navigation Bar*/
    .navigation-bar {
        top: 3%;
        left: 30%;
    }

    /* Car Animation */
    @keyframes carmove {
        from {
            top: 60%;
            left: 10%;
        }
        to {
            top: 60%;
            left: 80%;
        }
    }
}