/* Importing the font.*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* The hex value of the main color is: #00bfe8 */

/* Entire Html */

*{
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.design-text {
    background: linear-gradient(145deg, rgba(1,239,211,1) 0%, rgba(0,172,230,1) 68%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Scroll Bar*/

/* width */
::-webkit-scrollbar {
    width: 0.9vh;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #00bfe8;
    background: linear-gradient(180deg, #00bfe8 34%, #89fff1 74%);
    width: 1.1vh;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00bfe8; 
}

/* Start-up Animation */

.heytype {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6vh;
    transform: translateX(-50%);
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1vh solid;
    padding-right: 5px;
    letter-spacing: 0em;
    animation: typing 3s steps(40, end),
    cursor 0.65s infinite;
    user-select: none;
}

/* Navigation Bar*/

.navigation-bar {
    z-index: 1;
    position: fixed;
    margin: 2%;
    margin-right: 4%;
    right: 0%;
    width: auto;
    font-size: 2.5vh;
    white-space: nowrap;
}

ul li {
    opacity: 0;
    display: inline-block;
    margin-left: 5%;
    animation: come 1s 3s forwards;
    background: transparent;
    border-radius: 3vh;
}

a {
    color: #ffffff;
    text-decoration: none;
    border-radius: 1vh;
}

.logo {
    position: absolute;
    margin: 4vh;
    height: 6vh;
    opacity: 0;
    animation: come 1s 3s forwards;
}

/* Body */

body {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.home-page, .work-page, .project-page {
    scroll-snap-align: top;
}

.start-div {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 4vh;
    font-size: 2.5vh;
    opacity: 0;
    animation: come 1.5s 3s forwards;
    cursor: text;
    text-align: center;
}

.side-img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 30vh;
    border-radius: 30vh;
    overflow: hidden;
    animation: come 1s forwards;
    box-shadow: 0 0 10vh #53dfff4d;
}

.side-img2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 30vh;
    overflow-y: hidden;
    animation: come 1.5s 3s forwards;
}

.my-img {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh;
}

.scroll {
    color: #00bfe8;
    position: absolute;
    font-size: 3vh;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: come 1s 3s forwards;
}

.arrow {
    position: absolute;
    font-size: 3vh;
    top: 90%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    animation: come 1s 3s forwards, arrow-down 2s infinite;
}

.work-page {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    animation: come 1s 3s forwards;
}

.work {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6vh;
    transform: translateX(-50%);
    width: fit-content;
}

.my-work {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 4vh;
    font-size: 2.5vh;
    opacity: 0;
    animation: come 1.5s 3s forwards;
    cursor: text;
    text-align: center;
}

.project-page {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200%;
    animation: come 1s 3s forwards;
}

.projects {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6vh;
    transform: translateX(-50%);
    width: fit-content;
}

.project-show {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 4vh;
    font-size: 2.5vh;
    opacity: 0;
    animation: come 1.5s 3s forwards;
    cursor: text;
    text-align: center;
}


/* Line Animation */

.line-div1 {
    position: absolute;
    top: 80%;
    left:50%;
    transform: translatex(-50%);
    border-top: 0.1vh solid #00bfe8;
    width: 0vh;
    animation: width-draw 2s 4s forwards, line-breathe 3s 6s infinite;
}

/* Animations */

@keyframes typing {
    from {
        width: 0vh;
    }
    to {
        width: 48vh;
    }
}

@keyframes cursor {
    from, to{
        border-color: transparent;
    }
    50% {
        border-color: #00bfe8;
    }
}

@keyframes come {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes go {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}

@keyframes designtxt {
    0% {
        background: linear-gradient(145deg, rgba(1,239,211,1) 0%, rgba(0,172,230,1) 68%);
        background-clip: text;
        -webkit-background-clip: text;
        letter-spacing: 0vh;
    }
    100% {
        background: linear-gradient(145deg, rgba(1,239,211,1) 0%, rgba(0,172,230,1) 68%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.3vh;
        padding-left: 0.4vh;
        padding-right: 0.4vh;
    }
}

@keyframes undesigntxt {
    0% {
        color: #00bfe8;
        letter-spacing: 0.3vh;
        font-weight: bold;
        padding-left: 0.4vh;
        padding-right: 0.4vh;
    }
    100% {
        background-color: transparent;
        letter-spacing: 0vh;
    }
}


@keyframes arrow-down {
    0%, 100% {
        top: 89%;
    }
    50% {
        top: 93%;
    }
}

@keyframes width-draw {
    from {
        width: 0vh;
    }
    to {
        width: 40vh;
    }
}

@keyframes line-breathe {
    from, to {
        width: 40vh;
    }
    50% {
        width: 36vh;
    }
}

/* Media queries*/

@media only screen and (max-width: 1100px) {
    /* Animations */

    @keyframes typing {
        from {
            width: 0vh;
        }
        to {
            width: 32vh;
        }
    }

    @keyframes width-draw {
        from {
            width: 0vh;
        }
        to {
            width: 30vh;
        }
    }
    
    @keyframes line-breathe {
        from, to {
            width: 30vh;
        }
        50% {
            width: 26vh;
        }
    }

    /* Navigation bar */

    .logo {
        font-size: 3vh;
        margin-left: 5%;
    }

    .navigation-bar {
        font-size: 2vh;
        margin-right: 10%;
        margin-top: 4%;
    }

    /* Headings */
    .heytype, .work, .projects{
        top: 50%;
        left: 50%;
        font-size: 4vh;
        transform: translate(-50%, -50%);
    }

    /* Body */
    .side-img {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30vh;
        border-radius: 30vh;
        width: 30vh;
        overflow: hidden;
    }

    .side-img2, .side-img3 {
        top: 27.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30vh;
        width: 30vh;
        overflow: hidden;
    }

    .my-img {
        height: 30vh;
        width: 30vh;
    }

    .start-div, .my-work, .project-show{
        top: 55%;
        left: 50%;
        font-size: 1.5vh;
        line-height: 3vh;
        transform: translateX(-50%);
        text-align:start ;
        width: 30vh;
    }

    .line-div1 {
        top: 75%;
    }

    .scroll {
        top: 80%; 
    }
}

@media only screen and (orientation: portrait) {
    /* Animations */

    @keyframes typing {
        from {
            width: 0vh;
        }
        to {
            width: 32vh;
        }
    }

    @keyframes width-draw {
        from {
            width: 0vh;
        }
        to {
            width: 30vh;
        }
    }
    
    @keyframes line-breathe {
        from, to {
            width: 30vh;
        }
        50% {
            width: 26vh;
        }
    }

    /* Navigation bar */

    .logo {
        font-size: 3vh;
        margin-left: 5%;
    }

    .navigation-bar {
        font-size: 2vh;
        margin-right: 10%;
        margin-top: 4%;
    }

    /* Headings */
    .heytype, .work, .projects{
        top: 50%;
        left: 50%;
        font-size: 4vh;
        transform: translate(-50%, -50%);
    }

    /* Body */
    .side-img {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30vh;
        border-radius: 30vh;
        width: 30vh;
        overflow: hidden;
    }

    .side-img2, .side-img3 {
        top: 27.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30vh;
        width: 30vh;
        overflow: hidden;
    }

    .my-img {
        height: 30vh;
        width: 30vh;
    }

    .start-div, .my-work, .project-show{
        top: 55%;
        left: 50%;
        font-size: 1.5vh;
        line-height: 3vh;
        transform: translateX(-50%);
        text-align:start ;
        width: 30vh;
    }

    .line-div1 {
        top: 75%;
    }

    .scroll {
        top: 80%; 
    }
}